<div class="row">
    <div class="col" style="margin-top: 10px;">
        <a asp-action="Index" class="btn btn-success form-control" style="width:max-content;">Volver</a>
    </div>
    <div class="col" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary form-control" style="width:max-content;">Agregar</button>
        &nbsp;
    </div>    
</div>